<nav>
  {{#if user}}
  <a href="/home-auth">Home</a>
  <a href="/profile">{{user.name}}'s Profile</a>
  <form action="/authentication/sign-out" method="POST">
  {{!-- <button><a href="/episode/result-shuffle-filtered">Shuffle again</a></button> --}}
    <button>Sign Out</button>
  </form>
  {{else}}
  <a href="/">Home</a>
  <a href="/authentication/sign-in">Sign In</a>
  <a href="/authentication/sign-up">Sign Up</a>
  {{/if}}
</nav>