

<header id="header">

  <div class="container-fluid">
    <div class="row">
      <div class="header-inner">
        <div class="logo">
          
            {{#if user}}
            <h1> <a href="/home-auth">podshuffle </a></h1>
            {{else}}
            <h1> <a href="/">podshuffle </a></h1>
            {{/if}}
        </div>
        <div class="navigation">
          <nav>
            {{#if user}}
                    <ul>
                      <li><a href="/home-auth">Home</a></li>
                      <li><a href="/favorite/favorites-list">Favorites</a></li>
                      <li><a href="/profile">Profile</a></li> 
                      <li>
                        <form action="/authentication/sign-out" method="POST" >
                          <button class="sign-out">Sign Out</button>
                        </form>
                      </li>
                    </ul>
                  {{else}}
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/">About</a></li>
                      <li>
                        <div class="nav-authentication">
                          <div class="sign-in">
                            <a href="/authentication/sign-in">Sign In</a>  
                        </div>
                        <div class="sign-up">
                            <a href="/authentication/sign-up">Sign Up</a>
                        </div>
                      </li>
                    </ul>
                  {{/if}}
          </nav>
        </div>
      </div>

    </div>
  </div>

</header>
 