<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a id="logo" class="navbar-brand" href="/">podshuffle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div >
      {{#if user}}
      <ul class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home-auth">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorite/favorites-list">Favorites</a>
        </li>

         <li class="nav-item">
          <form action="/authentication/sign-out" method="POST" >
            <button class="nav-link" id="sign-out">Sign Out</button>
          </form>
        </li>
        </ul>
      {{else}}
      <ul class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a id="sign-in" class="nav-link" href="/authentication/sign-in">Log In</a>
        </li>
        <li class="nav-item">
          <a id="sign-up" class="nav-link" href="/authentication/sign-up">Sign Up</a>
        </li>
        {{/if}} 
      </ul>
    </div>
  </div>
</nav>
 