<div class="auth1">
  <div class="auth1-bg">
    <div class="auth1-inner">
    <div class="content">
        <div class="form">
          <p class="sign" align="center">Sign In</p>
          <form action="/authentication/sign-in" method="POST" class="form">
            <input type="email" id="input-email" name="email" placeholder="Your Email" />
            <input type="password" name="password" id="input-password" placeholder="Your Password" />
            <button>Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
