<div class="container">
        <div class="row">
           
              <div class="content ">
             
      
                  <div class="about-info">
                    <h2>Hello listener,</h2>
                <p> Podshuffle is an application created to overcome decision fatigue while consuming quality content.
We believe the world’s greatest ideas and conversations are just one click away, if only we knew where to start. The world of podcasts is a newly saturated one, which means the search for the right episode to consume can quickly become stress inducing.   
 
Podshuffle is the answer to this problem. 
<br>Sit back. Shuffle. And listen. </p>

                  </div>
                
                <div class="project-info">
                    <p>
                    This project was developed by Dardannya Patente and Axelle Kibodi, students at Ironhack.
                    <br>
                    The API used is Listennotes. Illustration is by Freepik Storyset.
                    </p>
                </div>
                
              </div>
            </div>
        </div>