

<div class="container">
        <div class="row">
           
              <div class="content ">
             
      
                  <div class="message">
                    <h3>{{message}}</h3>
                  </div>
                  <div class="status">
                    <h4>{{error.status}}</h4>
                  </div>
                  <div class="text">
                    <span>{{error.status}}</span>
                  </div>
                
                
              </div>
            </div>
        </div>