<h1>MY FAVORITES</h1>
<ul>
  {{#each favorites}}
    <li>
      <a href="/episode/podcast/{{episode.podcast.id}}">
        <img src="{{favoritePodcastImage}}" alt="{{favoritePodcastTitle}}">
            <h4>{{favoritePodcastTitle}}</h4>
      </a>
    </li>
  {{/each}}
</ul>

