      <div class="container">
        <div class="row">
            <div class="col-8" id="content">
              <div class="content-inner">
                <h1>
                  <div class="line">
                    <span>Expand your world</span>
                  </div>
                  <div class="line">
                    <span>one podcast at a time</span>
                  </div>
                </h1>
      
                  <div class="text">
                    <span>Enjoy quality content about your favorite topics.</span>
                  </div>
                  <div class="text">
                    <span>All of the fun with none of the decision fatigue.</span>
                  </div>
                  <div class="text">
                    <span>Serendipity has never been this
                   easy.</span>
                  </div>
                
                <div class="filter">
                  <form method="GET" action="/episode/result-shuffle-filtered">
                    
                    <div class="">
 	                  <input type="search" id="inputKeyword" placeholder="Keyword" name="keywordQuery" required/>
                    
                    <select name="category" id="input-category" >
                    <option value="" selected disabled>Select topic</option> <!-- Display empty placeholder value-->
                      {{#each genres}}
                        <option value="{{ id }}">{{name}}</option>
                      {{/each}}
                    </select>
                    </div>
                    <div class="">
                    <select name="language" id="input-language" >
                    <option value="" selected disabled>Select language</option> <!-- Display empty placeholder value-->
                      {{#each languages}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    </select>
                    <select name="duration" id="input-duration" >
                    <option value="" selected disabled>Select duration</option> <!-- Display empty placeholder value-->
                      <option value=""> 0-15 minutes </option>
                      <option value=""> 15-30 minutes </option>
                      <option value=""> 30-60 minutes </option>
                      <option value=""> Over 1 hour </option>
                    </select>
                    </div>                    
                    <button class="shuffle-button">Shuffle</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-4" id="image" >
              <div class="image-inner">
                <img class="rounded float-end illustration" src="./images/Podcast audience-bro.svg" alt="podshuffle-illustration"/>
              </div>
            </div>
          </div>
        </div>  
   
  