<h1>Welcome to PodShuffle</h1>
<br>
<h3>Select the filter option below and get your random Podcast</h3>
<br>

<form method="GET" action="/episode/result-shuffle-filtered">
 	<input type="search" id="inputKeyword" placeholder="Keyword" name="q" />

  <label for="input-category">Category</label>
  <select name="category" id="input-category" required>
    <option value="" selected disabled>Choose your topic</option> <!-- Display empty placeholder value-->
    {{#each genres}}
      <option value="{{ id }}">{{name}}</option>
    {{/each}}
  </select>

  <label for="input-language">Language</label>
  <select name="language" id="input-language" required>
    <option value="" selected disabled>Select</option> <!-- Display empty placeholder value-->
    {{#each languages}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <label for="minutes">Duration</label>
 	<input type="text" id="inputDuration" placeholder="Minutes" name="duration" />

  <button>Shuffle</button>
</form>

