
      <div class="container">
        <div class="row">
            <div class="col-8 " id="content">
              <div class="content-inner ">
                <h1>
                  <div class="line">
                    <span>Expand your world</span>
                  </div>
                  <div class="line">
                    <span>one podcast at a time</span>
                  </div>
                </h1>
      
                  <div class="text">
                    <span>Enjoy quality content about your favorite topics.</span>
                  </div>
                  <div class="text">
                    <span>All of the fun with none of the decision fatigue.</span>
                  </div>
                  <div class="text">
                    <span>Serendipity has never been this easy.</span>
                  </div>
                
                <div class="shuffle-button">
                    <a href="/episode/result-shuffle">Shuffle</a>
                </div> 
              </div>
            </div>
            <div class="col-4" id="image" >
              <div class="image-inner">
                <img class="rounded float-end illustration" src="./images/Podcast audience-bro.png" alt="podshuffle-illustration"/>
              </div>
            </div>
          </div>
        </div>  
   
  