<section class="homepage" id="homepage">
    <div id="homepageBg" class="homepage-bg"></div>
      <div class="container">
        <div class="row">
          <div class="homepage-inner" id="homepageInner">
            <div class="content">
              <div class="content-inner">
                <h1>
                  <div class="line">
                    <span>Expand your world</span>
                  </div>
                  <div class="line">
                    <span>one podcast at a time</span>
                  </div>
                </h1>
                <p>
                  Enjoy quality content about your favorite topics. All of the fun with none of the decision fatigue. Serendipity has never been this
                   easy.
                </p>
                <div class="shuffle-button">
                    <a href="/episode/result-shuffle">Shuffle</a>
                </div> 
              </div>
            </div>
            <div class="image">
              <div class="image-inner">
                <img src="" alt=""/>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
 </section>