

<div class="container">
  <div class="d-flex" style="justify-content-center">
  <div class="">
    <div class="card-profile">
        {{#if user.picture}}
            <img src="{{user.picture}}" alt="{{user.name}}" class="rounded float-start" />
        {{/if}}
      
          <p>{{user.name}}</p>
          <p>{{user.email}}</p>
      </div>
          <button><a href="/favorite/favorites-list">Go to favorites</a></button>
    </div>
  </div>
</div>



