@import './variables.scss';

.container {
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $black;

  .row {
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 90px;
    // margin-top: 20px;
    margin: auto;
    display: flex;
  }

  h1 {
    color: black;
    font-size: 1.8em;
    line-height: 1em;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-bottom: 50px;
  }

  .podcast-content {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-right: 380px;
    border: 0.1px solid grey;
    border-radius: 15%;


      p {
        margin-top: 20px;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 60px;
      }

    #favorite {
      width: 140px;
      height: 130px;;
      visibility: show;
      border: transparent;
      border-radius: 20%;
      margin-left: 60px;
      margin-top: 20px;
    }

    .heart-btn-fav {
      text-decoration: none;
      color: none;
      background: none;
      font-size: 40px;
      margin-top: 0;
      margin-left: 15x;
    }

    a {
      color: black;
      // font-size: 1em;
      // line-height: 1em;
      text-align: center;
      font-weight: 500;
      position: relative;
      margin-top: 0px;
    }
  }
}
