@import './variables.scss';

.auth1 {
  height: 80vh;
  position: relative;
  @media (max-width: $widescreen) {
    height: 90vh;
  }
  .auth1-bg {
    background: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .auth1-inner {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    @media (max-width: $widescreen) {
      height: 90vh;
    }
    .content {
      display: flex;
      align-items: center;
      width: 400px;
      height: 400px;
      margin: 3em auto;

      border-radius: 20%;
    }
    .sign {
      padding-top: 20px;
      color: $blue;
      font-family: $font-sans;
      font-weight: bold;
      font-size: 0.8em;
    }

    .form {
      padding-top: 40px;

      input {
        width: 76%;
        color: $blue;
        background: $white;
        font-weight: 700;
        font-size: 0.8em;
        text-align: center;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 1px solid $blue;
        margin-left: 46px;
        margin-bottom: 27px;
      }

      button {
        border-radius: 5em;
        color: #fff;
        background: $redOrange;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: $font-sans;
        margin-left: 35%;
        font-weight: 700;
        font-size: 0.8em;
      }
    }
  }
}
